<!-- Editable table -->
<div class="mt-3"></div>

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Time Sheet
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <button
          type="button"
          (click)="openAddModal(AddFormRef)"
          class="btn btn-default btn-primary btn-sm pull-right"
        >
          <span class="fa fa-plus" aria-hidden="true">Add TimeSheet</span>
        </button>
      </span>

      <table
        class="table table-bordered table-responsive-md table-striped text-center"
        id="editableTbl"
      >
        <tr>
          <th scope="col">Work Title</th>
          <ng-container *ngFor="let days of weeksDays">
            <th scope="col" [ngClass]="days.class">
              {{ days.days }}
              <p class="date">{{ days.fullDate | date: "dd-MM-yyyy" }}</p>
            </th>
          </ng-container>

          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
        <tr *ngFor="let time of timeSheetList; let id = index">
          <th scope="row">
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'name', $event)"
              (blur)="updateList(id, 'name', $event)"
              contenteditable="true"
              >{{ time.name }}</span
            >
          </th>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date1', $event)"
              (blur)="updateList(id, 'Date1', $event)"
              contenteditable="true"
              >{{ time.Date1 | number: "1.0-2" }}</span
            >
          </td>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date2', $event)"
              (blur)="updateList(id, 'Date2', $event)"
              contenteditable="true"
              >{{ time.Date2 | number: "1.0-2" }}</span
            >
          </td>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date3', $event)"
              (blur)="updateList(id, 'Date3', $event)"
              contenteditable="true"
              >{{ time.Date3 | number: "1.0-2" }}</span
            >
          </td>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date4', $event)"
              (blur)="updateList(id, 'Date4', $event)"
              contenteditable="true"
              >{{ time.Date4 | number: "1.0-2" }}</span
            >
          </td>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date5', $event)"
              (blur)="updateList(id, 'Date5', $event)"
              contenteditable="true"
              >{{ time.Date5 | number: "1.0-2" }}</span
            >
          </td>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date6', $event)"
              (blur)="updateList(id, 'Date6', $event)"
              contenteditable="true"
              >{{ time.Date6 | number: "1.0-2" }}</span
            >
          </td>
          <td>
            <span
              OnlyNumber
              (keyup)="changeValue(id, 'Date7', $event)"
              (blur)="updateList(id, 'Date7', $event)"
              contenteditable="true"
              >{{ time.Date7 | number: "1.0-2" }}</span
            >
          </td>

          <td>
            {{ getTotal(time) | number: "1.0-2" }}
          </td>

          <td>
            <span class="table-remove">
              <i
                class="fa fa-trash"
                (click)="remove(id)"
                aria-label="Delete"
              ></i>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<ng-template #AddFormRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Time Sheet</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onCancel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="col-md-12">
      <form [formGroup]="timeSheetFormGroup">
        <div class="form-group">
          <label>Name</label>
          <input
            class="form-control"
            type="text"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors?.required">Name is required</div>
          </div>
        </div>
        <h5>Time Per Date</h5>
        <table class="table" width="80" align="center">
          <thead>
            <tr>
              <th scope="col">Mon</th>
              <th scope="col">Tue</th>
              <th scope="col">Wed</th>
              <th scope="col">Thu</th>
              <th scope="col">Fri</th>
              <th scope="col">Sat</th>
              <th scope="col">Sun</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date1"
                  />
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date2"
                  />
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date3"
                  />
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date4"
                  />
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date5"
                  />
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date6"
                  />
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="Date7"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="onCancel()">
      Cancel
    </button>

    <button class="btn btn-primary" (click)="addTimeSheet()">Add</button>
  </div>
</ng-template>
