/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ngx-toastr/toastr";

.table-editable span:focus {
  padding: 8px !important;
}

.table-editable span {
  cursor: pointer !important;
}

.selectedDay {
  background: #00ffb8;
}

.date {
  font-size: 10px !important;
}
